*{
  margin: 0;
  padding: 0;
  font-family: "lustria";
}
.contact-section{
  background: linear-gradient(130deg, #EBE6E4,rgb(118, 111, 100));
  background-size: cover;
  padding: 200px 0;
}
.contact-section h1{
  text-align: center;
  color: #403737;
  justify-content: center;
}
.formulaire{
  color: #bab08b;
  max-width: 500px;
  line-height: 100px;
  padding-left: 50px;
  font-size: 18px;
  justify-content: center;
  align-items: center;
}
.border{
  width: 300px;
  height: 6px;
  background: #bab08b;
  margin: 20px auto;
}

.formulaire{
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: auto;
}

.formulaire-text{
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 50px 0;
  border: 0;
  background: rgb(206, 199, 199);
  padding: 20px 40px;
  outline: none;
  color: rgb(0, 0, 0);
  transition: 0.5s;
  font-family: "montserrat";
  border-radius: 10px;
  box-shadow: 0 0 5px 2px #403737;

}
.formulaire-text:focus{
  box-shadow: 0 0 10px 4px #bab08b;
}
textarea.formulaire-text{
  height: 120px;
}
.formulaire-btn{
  float: right;
  border: 0;
  background: #bab08b;
  color: #EBE6E4;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
  font-family: #EBE6E4;
  font-weight: bold;
}
.formulaire-btn:hover{
  background: #726546;
}
#Ty{
  text-align: center;
  color: #403737;
  justify-content: center;
  padding: 70px 0;
  font-size: 1.5rem;;
}
footer {
  background-color: rgb(154, 154, 154);
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer img {
  height: 50%;
  width: 50%;
}

footer .menu ul {
  margin: 0;
  padding: 12px;
}

footer .menu li {
  list-style-type: none;
  color: rgb(255, 255, 255);
  font-family: 'Lustria', serif;
  font-size: 12px;
  padding: 6px;
}

footer p {
  color: rgb(255, 255, 255);
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  padding: 12px;
  margin: 0;
}

footer .icon_social ul {
  display: flex;
  margin: 0;
  padding: 12px;
}

footer .icon_social li {
  list-style-type: none;
  margin: 0;
}

footer .icon_social li img {
  width: 1.5rem;
  height: 1.5rem;
  padding: 6px;
}
@media screen AND (min-width: 600px) {


  footer {
      flex-direction: row;
      justify-content: space-around;
  }

  footer img {
      height: 20%;
      width: 20%;
  }

  footer .menu li {
      font-size: 18px;
  }

  footer p {
      font-size: 18px;
  }

  footer .icon_social li img {
      width: 2rem;
      height: 2rem;
  }

}