*{
  margin: 0;
  padding: 0;
  font-family: "lustria";
}
.contact-section{
  background: linear-gradient(130deg, #EBE6E4,rgb(118, 111, 100));
  background-size: cover;
  padding: 40px 0;
}
.contact-section h1{
  text-align: center;
  color: #EBE6E4;
}
.border{
  width: 100px;
  height: 6px;
  background: #bab08b;
  margin: 40px auto;
}

.formulaire{
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: auto;
}

.formulaire-text{
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: rgb(206, 199, 199);
  padding: 20px 40px;
  outline: none;
  color: rgb(0, 0, 0);
  transition: 0.5s;
  font-family: "montserrat";
  border-radius: 10px;
  box-shadow: 0 0 5px 2px #aea192;

}
.formulaire-text:focus{
  box-shadow: 0 0 10px 4px #bab08b;
}
textarea.formulaire-text{
  height: 120px;
}
.formulaire-btn{
  float: right;
  border: 0;
  background: #bab08b;
  color: #EBE6E4;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
  font-family: #EBE6E4;
  font-weight: bold;
}
.formulaire-btn:hover{
  background: #726546;
}
