html,
body {
    margin: 0;
    line-height: 1.5;
}



/* GLOBAL */

@font-face {
    font-family: "lustria";
    src: url("../fonts/lustria.ttf") format("ttf");
}

p {
    font-size: 20px;
}

h2 {
    color: #DAB072;
}

button {
    font-size: 15px;
    font-family: Arial;
    width: 140px;
    height: 50px;
    border-width: 1px;
    color: #ffffff;
    border-color: rgba(0, 0, 0, 0);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: inset 0px 1px 0px 0px rgba(202, 202, 202, 0);
    text-shadow: inset 0px 1px 0px rgba(253, 249, 249, 1);
    background: linear-gradient(rgba(218, 176, 114, 1), rgba(144, 113, 69, 1));
}

button:hover {
    background: linear-gradient(rgba(144, 113, 69, 1), rgba(218, 176, 114, 1));
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    align-items: center;

}

.header a {
    color: #403737;
}

.logo {
    width: 5rem;
}


/* NAVBAR */

nav {
    background-color: #EBE6E4;
    position: fixed;
    width: -webkit-fill-available;

}

nav ul {
    margin: 0;
    display: none;
    padding: 0;


}

nav li {
    list-style-type: none;
    text-align: center;
    padding: 0.5rem;
    border-top: 1px #fdfdfd solid;
    background-color: #d3cac7;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 0.5s;
    font-family: "lustria";
}

nav li:hover {
    background-color: #bdb2af;
}

nav li a {
    color: #403737;
    display: block;
    text-decoration: none;


}

.current-link {
    color: red;
}

/* HOME */
.home h2 {
    color: #DAB072;
}

.content {
    margin: 0 12vw;
    /* border: 1px green solid; */
}

.homeImgShadow {
    box-shadow: 4px 4px 20px 5px rgba(0, 0, 0, 0.52);
    width: clamp(10rem, 30vw, 25rem);
}

.home {
    /* border: 1px red solid; */
    min-height: 200px;
    padding: 10rem 0rem;

}

.home-presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homePresentation-picto {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 50px auto;

}

.homePresentation-description {
    background-color: #EBE6E4;
    font-size: clamp(1rem, 2vw, 1.5rem);
    padding: 3rem;
    z-index: -1;
    position: relative;
    text-align: center;
}




/*############# LAST ############### */

#homeHero {
    width: 100%;
    min-height: 830px;
    background-image: url(../images/hero-bg1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#homeHero h1 {
    color: #e0e4e4;
    font-size: clamp(1rem, 2vw, 3rem);
}

.imgHero {
    width: 70vw;
}

.homeRestaurant {

    margin: 0 10vw;
    padding: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.homeRestaurant img {
    width: 75%;
    height: fit-content;
    margin: 2rem;
}

#homePresentation {

    background-image: url('../images/bg-home.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#homePresentation article {
    width: 90%;
    margin: auto;
}

#homePresentation p {
    padding: 4rem;
    font-style: italic;
}

.author {
    display: block;
    text-align: right;
    font-weight: bold;
}

.homeWellness {

    padding: 3vw 15vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #f1f1f1;
}

.homeWellness div {
    display: flex;
    width: -webkit-fill-available;
    flex-wrap: wrap;
    justify-content: space-around;
}

.homeWellness div article {
    width: 100%;
    margin: 6px;
    flex-shrink: 0;
    max-width: 300px;
    min-height: 200px;
    display: flex;
    align-items: flex-end;
}

.homeWellness div article {
    background-image: url('../images/home-weelness1.jpg');
    background-size: cover;
}

.homeWellness div article h4 {
    background-color: #00000061;
    margin: 0;
    width: -webkit-fill-available;
    padding: 0.3rem;
    color: #fff;
}

/* MEDIA SCREEN > 778px */

@media screen AND (min-width: 778px) {

    /* NAVBAR */
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav ul {
        display: flex;
        padding: 0rem 3rem;
    }

    nav li {
        background-color: transparent;
        border: 0;
        padding: 0rem 0.8rem;
    }

    #navButton {
        display: none;
    }


    /* HOME */

    .home-presentation {
        flex-direction: row;
    }




    .imgHero {
        width: 30vw;
    }

    .homeRestaurant {
        flex-direction: row;
    }

    .homeRestaurant img {
        width: 30%;
    }

    #homePresentation p {
        padding: 4rem;
        margin: auto;
    }

    .homeWellness div article {
        max-width: 273px;
        min-height: 198px;
    }
}

@media screen AND (min-width: 940px) {
    #homePresentation p {
        width: 75ch;
    }
}