html,
body {
    margin: 0;
    line-height: 1.5;
}



/* GLOBAL */
p {
    font-size: 20px;
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    align-items: center;

}

.header a {
    color: #403737;
}

.logo {
    width: 5rem;
}


/* NAVBAR */

nav {
    background-color: #EBE6E4;
    position: fixed;
    width: -webkit-fill-available;

}

nav ul {
    margin: 0;
    display: none;
    padding: 0;


}

nav li {
    list-style-type: none;
    text-align: center;
    padding: 0.5rem;
    border-top: 1px #fdfdfd solid;
    background-color: #d3cac7;
    color: #403737;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 0.5s;
    font-family: "lustria";
}

nav li:hover {
    background-color: #bdb2af;
}


/* HOME */
#homeHero {
    width: 100%;
    min-height: 830px;
    background-image: url(../images/hero-bg1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#homeHero h1 {
    color: #e0e4e4;
    font-size: 3rem;
}

#homeRestaurant {
    border: 2px red solid;
    margin: 0 10vw;
    padding: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

#homeRestaurant img {
    width: 75%;
    height: fit-content;
    margin: 2rem;
}

#homePresentation {
    border: 2px green solid;
    background-image: url('../images/bg-home.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#homePresentation article {
    width: 90%;
    margin: auto;
}

#homePresentation p {
    padding: 4rem;
}


#undefind {
    min-height: 1500px;
}

/* MEDIA SCREEN > 778px */

@media screen AND (min-width: 778px) {

    /* NAVBAR */
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav ul {
        display: flex;
        padding: 0rem 3rem;
    }

    nav li {
        background-color: transparent;
        border: 0;
        padding: 0rem 0.8rem;
    }

    #navButton {
        display: none;
    }


    /* HOME */
    #homeRestaurant {
        flex-direction: row;
    }

    #homeRestaurant img {
        width: 30%;
    }

    #homePresentation p {
        padding: 4rem;
        margin: auto;
    }
}

@media screen AND (min-width: 940px) {
    #homePresentation p {
        width: 75ch;
    }
}